
.header{
  background-color: blue;
  font-size: large;
}
.intro{
  background-color: green;
  
}
.grid{
  background-color: blanchedalmond;
}
.footer{
  background-color: blue;
  font-size: medium;
}
